.top-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

#gmap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#welcome-bg {
  background: #BCF1ED;
    background-image:url('../washi.png');
}

#ourstory-bg {
  background-image:url('../ps_neutral.png');
}

#weddingevents-bg {
  background: #FFF0AA;
    background-image:url('../washi.png');
}

#location-bg {
  background-image:url('../ps_neutral.png');
}

#registry-bg {
  background-image:url('../ps_neutral.png');
}

#photos-bg {
  background-image:url('../ps_neutral.png');
}