.top-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #9C1940;
}

.centralize {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.top-bar-section {
  margin-right: 50px;
}

body {
  background: #FAF9BE;
  background-image:url('../images/square_bg.png');
}

#danger, #doesnt {
  display: none;
}
