.top-bar {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #9C1940;
}

.logo {
  margin-left: 10px;
  height: 45px;
  float: left;
}

.centralize {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: #FAF9BE;
  background-image:url('../images/square_bg.png');
}

#danger, #doesnt {
  display: none;
}

.title-area {
  width: 40%;
}