#area {
  margin-top: 20px;
  border: 7pt solid #9C1940;
  text-align: center;
  border-radius: 50px;
  background: #E0CE92;
  box-shadow: 1px 5px 5px #888888;
  position: relative;
}
#question {
  text-shadow: 1px 2px 5px #ffffff;
}
#yes, #no {
  background-color: #9C1940;
  border: 1px solid black;
  color: #E0CE92;
}